body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fildset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;border:0;box-sizing:border-box}
body{ font-size:12px;}
img{border:none;}
ul,ol{ list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{ text-decoration:none;}

body,html{
  font-weight: 200
}

.clearfix
  display: inline-block;
  &:after
    display: block;
    content: ''
    height: 0
    line-height: 0
    clear: both;
    visibility: hidden;
